*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: aliceblue;
    display: grid;
    justify-content: center;
    justify-items: center;
}

.container > img {
    padding: 60px;
}

.header-container {
    text-align: center;
    color: green;
    font-size: 29px;
}

.bar-container {
    text-align: center;
}


.search-bar {
    border: solid skyblue 2px;
    width: 690px;
    height: 60px;
    font-size: 23px;
}

.random-btn,
.search-btn {

    width: 190px;
    height: 76px;
    background-color: rgb(168, 16, 46);
    font-weight: bold;
    font-size: 25px;
    color: whitesmoke;
    border-radius: 12px;
    cursor: pointer;
    
}

.search-btn {
    background-color: rebeccapurple;
}